.mainContainer {
  max-width: 1707px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
}

.mainContainer > h1,
.mainContainer > p {
  color: #1ed760;
}

.mainContainer > h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75.84px;
  margin-bottom: 40px;
}

.mainContainer > p {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.92px;
}

@media screen and (max-width: 1050px) {
  .mainContainer > h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .mainContainer > p {
    font-size: 29px;
  }
  .mainContainer {
    padding: 30px;
  }
}

@media screen and (max-width: 810px) {
  .mainContainer > h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .mainContainer > p {
    font-size: 22px;
  }
  .mainContainer {
    padding: 20px;
  }
}

@media screen and (max-width: 640px) {
  .mainContainer > h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .mainContainer > p {
    font-size: 22px;
  }
  .mainContainer {
    padding: 10px;
  }
}
