.footerContainer {
  margin-top: 40px;
  width: 446px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #1ed760;
  border-radius: 65px;
  gap: 15px;
}

.footerContainer > img {
  width: 97px;
  height: 98px;
  cursor: pointer;
}

.footerContainer > img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1050px) {
  .footerContainer {
    margin-top: 30px;
    width: 346px;
    height: 145px;
    border-radius: 55px;
    gap: 15px;
  }
  .footerContainer > img {
    width: 87px;
    height: 88px;
  }
}

@media screen and (max-width: 810px) {
  .footerContainer {
    margin-top: 20px;
    width: 306px;
    height: 105px;
    border-radius: 35px;
    gap: 15px;
  }
  .footerContainer > img {
    width: 77px;
    height: 78px;
  }
}
